/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}
h1 {
    margin: 50px 0px 0px 0px;
}
/****** Body ***********/

/****** Body Responsive ***********/
@media screen and (min-width: 1440px) {
    body {
        max-width: 1440px;
        margin: 0px 50px 0px 50px;
    }
}
@media all and (min-width: 1024px) and (max-width: 1440px) {

}
@media all and (min-width: 768px) and (max-width: 1024px) {

}
@media screen and (max-width: 375px) {
    Body {
        margin: 0px;
    }
}

/****** Header ***********/
#logo {
    max-height: 40%;
    width: auto;
    align-items: center;
}
header {
    display: flex;
    margin: 0px 50px 0px 50px;
    justify-content: space-between;
}
header div {
    display: flex;
    align-items: center;
}
header nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
header nav ul li {
    padding: 25px 25px;
    border-top: 4px solid transparent;
}
header nav ul li:hover {
    border-color:#0065FC;
}
header nav ul li a {
    color: black;
    text-decoration: none;
}
header nav ul li:hover a {
    color:#0065FC;
}
p {
    margin: 0px 0px 25px 0px;
}
/****** Header Responsive ***********/
@media screen and (min-width: 1440px) {
    header {
        max-width: 1440 px;
        margin: 0px 50px 0px 50px;
    }
}
@media all and (min-width: 1024px) and (max-width: 1440px) {

}
@media all and (min-width: 768px) and (max-width: 1024px) {
    
}
@media screen and (max-width: 375px) {
    header {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0px;
        margin: 0;
        
    }
    header div {
        justify-content: center;
    }
    header nav {
        width: 100%;
    }
    header nav ul li {
        border-bottom: 4px solid transparent;
        border-top: none;
        width: 100%;
        text-align: center;
    }

}

/****** Main ***********/
main {
    margin: 0px 50px 0px 50px;
}
.search-box {
    display: inline-block;
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    width: auto;
}

.search-box .fa-map-marker-alt {
    display: inline-block;
    padding: 14px;
    height: 28px;
    font-size: 25px;
    background-color: #F2F2F2;
    border-radius: 0px 0px 0px 15px;
}

.search-box input {
    outline: none;
    height: 52px;
    margin-left: -5px;
    border: none;
    padding: 0px;
}

.search-box button {
    background-color: #0065FC;
    color: white(99, 48, 238);
    height: 52px;
    border: none;
    border-radius: 0px 15px 15px 0px;
    padding: 15px;
    cursor: pointer;
}

.search-box button .fa-search {
    display: none;
}
/****** Main Responsive ***********/
@media screen and (min-width: 1440px) {
    main {
        max-width: 1440 px;
        margin: 0px 50px 0px 50px;
    }
}
@media all and (min-width: 1024px) and (max-width: 1440px) {

}
@media all and (min-width: 768px) and (max-width: 1024px) {

}
@media screen and (max-width: 375px) {
    main {
        padding: 0px;
        margin: 8px;
    }
}

/****** Footer ***********/
footer {
    display: flex;
    justify-content: space-between;
    margin: 0px 50px 0px 50px;
    background-color: #D9D9D9;
}
footer nav {
    width: 100%;
}
footer nav ul li {
    text-align: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    
}
footer nav ul {
    margin: 0;
    padding: 20px;
}
footer nav ul h2 {
    margin: 0;
    padding: 0;
}
footer nav ul li a {
    color: black;
    text-decoration: none;
}

/****** Footer Responsive ***********/
@media screen and (min-width: 1440px) {
    footer {
        max-width: 1440 px;
        margin: 0px 50px 0px 50px;
    }
}
@media all and (min-width: 1024px) and (max-width: 1440px) {

}
@media all and (min-width: 768px) and (max-width: 1024px) {

}
@media screen and (max-width: 375px) {
footer {
    padding: 0px;
    margin: 8px;
}
}
